body {
    background-image: url('/Images/background.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.card {
    background-color: rgb(20, 20, 20);

    position: absolute;
    top: 42.5%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 75vw;
    height: 70vh;

    box-shadow: 0 0 100px rgb(7, 210, 0);

    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-top-right-radius: 5%;
}

#orangutang {
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 65%;
    height: auto;
}

#main-heading {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80%;
    height: auto;

    font-size: 350%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(117, 0, 117);
}

#main-paragraph {
    position: relative;
    top: 27.5%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    height: auto;

    font-size: 265%;
    font-family:'Times New Roman', Times, serif;
    color: rgb(167, 48, 226);
}

#input {
    background-color: black;

    border-width: 10px;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-top-right-radius: 5%;    
    border-color: rgb(0, 128, 11);

    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80%;
    height: auto;

    font-size: 225%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: purple;
}